body{
 /*background-color: #5b99d4;*/
 background-color: #3f4042;
}
h1,h4{
 text-align:center;
 margin-top: 3%;
 font-family: raleway-semibold;
 color: #fff;
}
h5{
 text-align:center;
 margin-top: 3%;
 font-family: raleway-semibold;
}
form{
  text-align: center;
}
#form-container{
  margin-top: 3%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  font-family: raleway-light;
  background-color: #fff;
  border-radius: 10px;
}
.form-label{
  float: left;
  font-family: raleway-medium;
}
input,select{
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  border: 0;
  background-color: #d5d6e0;
  padding-left: 5%;
}
button{
  margin-top:10%;
  margin-bottom:10%;
  width: 100%;
}
@font-face {
  font-family: raleway-light;
  src: url(fonts/raleway-light.ttf);
}
@font-face {
  font-family: raleway-medium;
  src: url(fonts/raleway-medium.ttf);
}
@font-face {
  font-family: raleway-semibold;
  src: url(fonts/raleway-semibold.ttf);
}
